/* 导航栏 */
.am-tab-bar{
	position: fixed;
	bottom: 0;
	width: 100%;
	height:auto;
}
.am-tabs-default-bar-tab{
	height:30px;
	line-height: 30px;
}
/*商品上拉加载下拉刷新*/
.am-list-view-scrollview{
	width:100%;
}
/* 搜索框 */
.am-search-input{
  border-radius:14px;
}